@model IEnumerable<GestionalePoliziaComunale.Models.VerbaleDetails>

@{
    ViewBag.Title = "Index";
}

<h1 class="my-3">Elenco Verbali</h1>

 @Html.ActionLink("Inserisci nuovo verbale", "Create", null, new { @class = "btn btn-success my-3" })

<table class="table table-primary table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeVerbalizzato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cognomeVerbalizzato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Violazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Trascrizione_Verbale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo_Violazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoViolazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decurtamento_Punti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nominativo_Agente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomeVerbalizzato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cognomeVerbalizzato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Violazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Trascrizione_Verbale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo_Violazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoViolazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decurtamento_Punti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nominativo_Agente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id_Verbale }, new { @class = "text-danger" }) |
            @Html.ActionLink("Details", "Details", new { id = item.id_Verbale }, new { @class = "text-danger" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id_Verbale }, new { @class = "text-danger" }) 
        </td>
    </tr>
}

</table>
