@model GestionalePoliziaComunale.Models.Anagrafica

@{
    ViewBag.Title = "Dettagli";
}

<h1>Dettagli persona</h1>

@Html.ActionLink("Torna a lista", "Index", null, new { @class = "btn btn-primary" })

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Fisc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Fisc)
        </dd>

    </dl>
</div>

@Html.ActionLink("Modifica", "Edit", new { id = Model.id_Anagrafica }, new {@class = "btn btn-warning"})

