@model IEnumerable<GestionalePoliziaComunale.Models.Anagrafica>

@{
    ViewBag.Title = "Elenco persone";
}


<div id="imgAnagraficaIndex" class="p-2 text-black">

    <h1>Elenco persone registrate</h1>
    @Html.ActionLink("Registra nuova persona", "Create", null, new { @class = "btn btn-success m-0" })

</div>

@if (ViewBag.msgErrore != null)
{
    <div class="alert alert-danger fw-bold text-danger my-3" role="alert">
        @ViewBag.msgErrore
    </div>
}
@if (ViewBag.msgSuccess != null)
{
    <div class="alert alert-success fw-bold text-success my-3" role="alert">
        @ViewBag.msgSuccess
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Fisc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cod_Fisc)
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", new { id = item.id_Anagrafica }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Dettagli", "Details", new { id = item.id_Anagrafica }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("Cancella", "Delete", new { id = item.id_Anagrafica }, new { @class = "btn btn-danger" })

                @Html.ActionLink("Totale Verbali", "PerPersona", "Verbale", new { id = item.id_Anagrafica }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
