@model IEnumerable<GestionalePoliziaComunale.Models.Anagrafica>

@{
    ViewBag.Title = "Elenco persone";
}

@{ 
if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}
}


<div id="imgAnagraficaIndex" class="p-2 text-black">

    <h1>Elenco persone registrate</h1>
    @Html.ActionLink("Registra nuova persona", "Create", null, new { @class = "btn btn-success m-0" })

</div>


<table class="table table-primary table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Fisc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cod_Fisc)
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", new { id = item.id_Anagrafica }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Dettagli", "Details", new { id = item.id_Anagrafica }, new { @class = "btn btn-secondary" }) |
                @Html.ActionLink("Cancella", "Delete", new { id = item.id_Anagrafica }, new { @class = "btn btn-danger" }) |
             
                @Html.ActionLink("Totale Verbali", "PerPersona", "Verbale", new { id = item.id_Anagrafica }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
